{% extends"base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Publier un nouvel article</h1>

            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            <button type="submit">Publier</button>


            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
